@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


body{
    background-color: rgb(24, 49, 63);
    font-family: "Electrolize", sans-serif;
  }


  input {
background-color: silver;

  }

  .container {
    display: flex;
    justify-content: center;
    
  }

.lista_tarefas {
    background-color: aliceblue;
    width: 50%;
    margin: 0 auto;
}

  h1{
    text-align: center;
  }


